@import '../../layout/layout.scss';

.Heading {

  h1 {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 24px;
    color: $gray-500;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .8px;
    margin-top: 0;
  }
}