// ############ Colors ############

$white:     #ffffff;
$gray-300:  #F6F7FC;
$gray-400:  #E9EDFE;
$gray-450:  #B8C4DF;
$gray-500:  #989EB8;
$black:     #000000;

$blue:     #0364FF;
$blue-300: #D3E0FF;
$blue-500: #0050cf;
$blue-600: #242446;
$pink:     #FF037D;
$green:    #00A68A;