

p {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $default-font-family;
  font-style: normal;
  color: $blue-600;
  margin-bottom: 0;
  line-height: 1;
}

.Title {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin-top: 26px;
  letter-spacing: 0.8px;

  @include breakpoint(sm) {
    font-size: 34px;
    line-height: 40px;
  }
}