// ############ Variables ############

$default-font-family:    $font-primary;
$default-font-size:      18px;
$default-line-height:    1;
$default-font-weight:    400;
$default-font-style:     normal;
$default-color:          $blue-600;
$default-bg:             $gray-300;
$default-border-radius:  5px;
$opened-sidebar-width:   235px;
$closed-sidebar-width:   110px;
$default-block-offset:   20px;